<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input tag examples</title>
</head>

<body>
<h3>텍스트관련</h3>
문자열입력 <input type="text"><br>
이메일 <input type="email"><br>
전화번호입력 <input type="tel"><br>
비밀번호입력 <input type="password"><br>
숫자입력 <input type="number"><br>
검색창 <input type="search"><br>
url입력창 <input type="url"><br>

<h3>버튼관련</h3>
버튼 <input type="button"><br>
제출버튼 <input type="submit"><br>
리셋버튼 <input type="reset"><br>
체크박스 <input type="checkbox"><br>
라디오버튼 <input type="radio"><br>

<h3>첨부관련</h3>
파일첨부 <input type="file"><br>
이미지첨부 <input type="image"><br>
색깔 <input type="color"><br>

<h3>날짜관련</h3>
년월일입력 <input type="date"><br>
년월일시각 <input type="datetime-local"><br>
년월입력 <input type="month"><br>
시각입력 <input type="time"><br>
주선택창<input type="week"><br>

<h3>기타</h3>
숨겨진창 <input type="hidden"><br>
슬라이드바 <input type="range"><br>
</body>
</html>